* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
.container {
    max-width: 1600px;
}
ul {
    list-style-type: none;
}
header {
    display: flex;
    background-color: #E5E5E5;
    font-family: 'Varela Round', sans-serif;
    justify-content: space-between;
}
.header__logo {
    margin-top: 40px;
    margin-left: 40px;
}
.nav {
padding-top: 45px;
padding-left: 100px;
}
.list li {
    display: inline-block;
    padding-right: 30px;
    font-size: 16px; 
    letter-spacing: -0.275862px;
}
.nav-item {
    text-decoration: none;
    color:#1D293F;
}
.header__button {
    margin-top: 20px;
    margin-right: 20px;
    background-color: #258AFF;
    border-radius: 5px;
    width: 170px;
    height: 50px;
    color: #FFFFFF;
    border-color: #258AFF;
    font-size: 16px;
    font-family: 'Varela Round', sans-serif;
    font-weight: 500;
    line-height: 20px;
}
.title {
    display: flex;
    background-color: #E5E5E5;
    font-family: 'Varela Round', sans-serif;
    padding-top: 170px;
    justify-content: space-around;
    color: #1D293F;
}
.title__text {
    width: 600px;
    font-size: 21px;
    margin-right: 150px;
    margin-left: 100px;
}
.title__text h1 {
    font-size: 70px;
    padding-bottom: 25px;
    line-height: 70px;
}
.title__text p {
    width: 430px;
    line-height: 34px;
}
.title__button {
    margin-top: 30px;
    background-color: #258AFF;
    border-radius: 5px;
    width: 170px;
    height: 50px;
    color: #FFFFFF;
    border-color: #258AFF;
    font-size: 16px;
    font-family: 'Varela Round', sans-serif;
    line-height: 20px;
}
.title__text-video-link {
    font-size: 16px;
    padding-top: 25px;
    line-height: 28px;
}
.title__text-check-video {
    color: #137cdf;
}
.title__text-check-video-link {
    text-decoration: none;
    color: #137cdf;
}
.title__photos-with-circles {
    flex-basis: 300px;
}
.title__first-photo {
    width: 250px;
    height: 370px;
    background: linear-gradient(5deg, rgb(229, 229, 229, 1) 32%, rgba(229, 229, 229, 0) 30%), url("../img/photo_man.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    top: -5px;
    left: -270px;
    z-index: 1;
}
.title__second-photo {
    width: 240px;
    height: 360px;
    background-image: linear-gradient(175deg, rgb(229, 229, 229, 1) 6%, rgba(229, 229, 229, 0) 6%), url("../img/photo_man_2.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 100px;
    left: 290px;
    z-index: 1;
}
.title__circles {
    width: 180px;
    height: 210px;
    display: flex;
    background: url("../img/dots.png") no-repeat center;
    position: absolute;
    top: 195px;
    left: 83px;
}
.title__calendar-block {
    position: absolute;
    width: 170px;
    height: 190px;
    background-color: #FFFFFF;
    box-shadow: 0px 32px 54px rgba(65, 74, 85, 0.224553);
    border-radius: 3px;
    top: 163px;
    left: 135px;
    z-index: 3;
    display: grid;
    grid-template-columns: 100px 70px;
    grid-template-rows: 160px 30px;
    grid-template-areas: "text text"
                        "reschedule cancel";
}
.calendar-heading {
grid-area: text;
}
.title__calendar-block h2 {
font-size: 14px;
padding-top: 10px;
padding-left: 10px;
color: #1D293F;
line-height: 32px;
}
.title__calendar-block {
    font-size: 11px;
    line-height: 15px;
}
.calendar-time {
    color: #7C8087;
    padding-left: 10px;
}
.calendar-agenda {
    color: #7C8087;
    padding-left: 10px;
}
.calendar-customers {
    color: #1D293F;
    padding-left: 10px;
    width: 130px;
    font-weight: 600;
}
.reschedule {
    grid-area: reschedule;
    background: #F5A623 url("../img/calendar.png") no-repeat 7px;
    color: #FFFFFF;
    font-size: 11px;
    font-weight: 400;
    border-color:#F5A623;
    cursor: pointer;
}
.reschedule-word {
    padding-left: 10px;
}
.cancel {
    grid-area: cancel;
    background-color: #FF374F;
    color: #FFFFFF;
    font-size: 11px;
    font-weight: 400;
    border-color: #FF374F;
    cursor: pointer;
}
.close {
    left: 108px;
    transform: translateY(1px);
    width: 10px;
    height: 10px;
}
.cancel-word {
    padding-left: 7px;
}
.close:before, .close:after {
    content: ' ';
    height: 10px;
    width: 1px;
    background-color: #FFFFFF;
}
.close:before {
    transform: rotate(45deg);
}
.close:after {
    transform: rotate(-45deg);
}
.title__circle-below {
    height: 170px;
    width: 170px;
    display: flex;
    border-radius: 50%;
    background-color: #E1FFF8;
    position: relative;
    top: -350px;
    left: -80px;
    z-index: 0;
}
.title__triangle-on-circle {
    height: 30px;
    width: 72px;
    display: flex;
    background-color: #E1FFF8;
    position: relative;
    top: -455px;
    left: 14px;
    z-index: 2;
    transform: rotate(-5deg);
}
.title__ellipse-on-circle {
    height: 26px;
    width: 5px;
    display: flex;
    background-color: #E1FFF8;
    position: relative;
    border-radius: 50%;
    top: -485px;
    left: 84px;
    z-index: 2;
}
.evaluation {
    padding-top: 20px;
    background-color: #E5E5E5;
    font-family: 'Varela Round', sans-serif;
}
.evaluation__container {
   display: flex;
   justify-content: center;
}
.evaluation__thousands {
    flex-basis: 350px;
}
.evaluation__thousands h2 {
    color: #1D293F;
    font-size: 70px;
    padding-bottom: 15px;
    letter-spacing: -1px;
    line-height: 70px;
}
.active-downloads {
    color: #1D293F;
    font-size: 16px;
    padding-top: 15px;
    line-height: 28px;
}
.link {
    color: #258AFF;
    font-size: 16px;
    padding-top: 15px;
    line-height: 28px;
}
.link-to {
    text-decoration: none;
    color: #258AFF;   
}
.evaluation__rating h2 {
    color: #1D293F;
    font-size: 70px;
    padding-bottom: 15px;
    line-height: 70px;
}
.rating {
    color: #1D293F;
    font-size: 16px;
    padding-top: 15px;
    line-height: 28px;
}
.evaluation__rating {
    flex-basis: 350px;
}
.evaluation__text-about-users h2 {
    color: #1D293F;
    font-size: 34px;
    line-height: 45px;
    letter-spacing: -0.586207px;  
}
.evaluation__text-about-users {
    flex-basis: 460px;
}
.before-icons {
    color: #7C8087;
    font-size: 18px;
    padding-top: 80px;
    padding-bottom: 50px;
    line-height: 32px;
}
.icons {
    display: flex;
    justify-content: space-between;
}
.evaluation::after {
    content: "";
    width: 100%;
    height: 1px;
    margin-top: 150px;
    display: block;
    background-color:#dddedf;
}
.work-with-instapoint-and-control {
    padding-top: 100px;
    background-color: #E5E5E5;
    font-family: 'Varela Round', sans-serif;
}
.work-with-instapoint-container {
    margin: 0 auto;
    width: 60%;
}
.work-with-instapoint-container__text h2 {
    color: #1D293F;
    font-size: 58px;
    line-height: 64px;
    letter-spacing: -1px;
    width: 600px;
    text-align: center;
    margin: 0 auto;
}
.work-with-instapoint-container__steps {
    display: flex;
}
.work-with-instapoint-container__steps-with-description-second,
.work-with-instapoint-container__steps-with-description-first {
    margin-right: 80px;
}
.icon-square-first-column {
    width: 70px;
    height: 70px;
    background: #258AFF url("../img/search.png") no-repeat center;
    box-shadow: 0px 32px 54px rgba(37, 138, 255, 0.224553);
    border-radius: 10px;
    margin-top: 80px;
    position: relative;
}
.arrow-first {
    width: 300px;
    height: 150px;
    background: url("../img/Arrow.png") no-repeat center;
    position: absolute;
    left: 70px;
}
.work-with-instapoint-container__steps-with-description-first h2,
.work-with-instapoint-container__steps-with-description-second h2,
.work-with-instapoint-container__steps-with-description-third h2 {
    font-size: 24px;
    padding-top: 70px;
    color: #1D293F;
    line-height: 34px;
}
.work-with-instapoint-container__steps-with-description-first p,
.work-with-instapoint-container__steps-with-description-second p,
.work-with-instapoint-container__steps-with-description-third p {
    font-size: 16px;
    padding-top: 20px;
    color: #1D293F; 
    width: 280px;
    line-height: 28px;
}
.icon-square-second-column {
    width: 70px;
    height: 70px;
    background: #258AFF url("../img/event-confirm.png") no-repeat center;
    box-shadow: 0px 32px 54px rgba(37, 138, 255, 0.224553);
    border-radius: 10px;
    margin-top: 150px;
    position: relative;
}
.arrow-second {
    width: 300px;
    height: 150px;
    background: url("../img/Arrow2.png") no-repeat center;
    position: absolute;
    left: 70px;
    top: -10px;
}
.icon-square-third-column {
    width: 70px;
    height: 70px;
    background: #258AFF url("../img/check-all.png") no-repeat center;
    box-shadow: 0px 32px 54px rgba(37, 138, 255, 0.224553);
    border-radius: 10px;
    margin-top: 220px;
}
.control-container {
    padding-top: 150px;
    padding-bottom: 150px;
}
.control-container__text h2 {
    color: #1D293F;
    font-size: 58px;
    line-height: 64px;
    letter-spacing: -1px;
    width: 550px;
    text-align: center;
    margin: 0 auto;
}
.bitmap {
    background: url("../img/Bitmap.jpg") no-repeat center;
    height: 450px;
    width: 800px;
    margin: 0 auto;
    margin-top: 100px;
    position: relative;
    z-index: 1;
    border-radius: 7px;
    box-shadow: 0px 32px 54px rgba(65, 74, 85, 0.224553);
}
.control-container___calendar-block {
    position: absolute;
    width: 170px;
    height: 190px;
    background-color: #FFFFFF;
    box-shadow: 0px 32px 54px rgba(65, 74, 85, 0.224553);
    border-radius: 3px;
    top: 170px;
    left: -40px;
    z-index: 1;
    display: grid;
    grid-template-columns: 100px 70px;
    grid-template-rows: 160px 30px;
    grid-template-areas: "text text"
                        "reschedule cancel";
    z-index: 2;
}
.calendar-heading {
grid-area: text;
}
.control-container___calendar-block h2{
font-size: 14px;
padding-top: 10px;
padding-left: 10px;
color: #1D293F;
line-height: 32px;
}
.control-container___calendar-block {
    font-size: 11px;
    line-height: 15px;
}
.calendar-time {
    color: #7C8087;
    padding-left: 10px;
}
.calendar-agenda {
    color: #7C8087;
    padding-top: 10px;
    padding-left: 10px;
}
.calendar-customers {
    color: #1D293F;
    padding-top: 10px;
    padding-left: 10px;
    width: 130px;
    font-weight: 600;
}
.reschedule {
    grid-area: reschedule;
    background: #F5A623 url("../img/calendar.png") no-repeat 7px;
    color: #FFFFFF;
    font-size: 11px;
    font-weight: 400;
    border-color:#F5A623;
    cursor: pointer;
}
.reschedule-word {
    padding-left: 10px;
}
.cancel {
    grid-area: cancel;
    background-color: #FF374F;
    color: #FFFFFF;
    font-size: 11px;
    font-weight: 400;
    border-color: #FF374F;
    cursor: pointer;
}
.close {
    left: 108px;
    transform: translateY(1px);
    width: 10px;
    height: 10px;
}
.cancel-word {
    padding-left: 7px;
}
.close::before, .close::after {
    content: ' ';
    height: 10px;
    width: 1px;
    background-color: #FFFFFF;
}
.close::before {
    transform: rotate(45deg);
}
.close::after {
    transform: rotate(-45deg);
}
.control-container__circles {
    width: 180px;
    height: 200px;
    background: url("../img/dots2.png") no-repeat center;
    position: relative;
    top: -503px;
    left: 250px;
}
.design-review-block {
    position: absolute;
    width: 235px;
    height: 115px;
    background: #FFFFFF url(../img/design-review.jpg) no-repeat center;
    box-shadow: 0px 32px 54px rgba(65, 74, 85, 0.224553);
    border-radius: 10px;
    top: 100px;
    left: 650px;
    z-index: 2;
}
.grow-business {
    background-color: #E5E5E5;
    font-family: 'Varela Round', sans-serif;
    padding-top: 50px;
}
.grow-business__container {
    display: flex;
}
.grow-business__text {
    padding-left: 180px;
}
.grow-business__text h2 {
    color: #1D293F;
    font-size: 58px;
    line-height: 64px;
    letter-spacing: -1px;
    width: 450px;
    padding-top: 15px;
    padding-left: 60px;
}
.title-first {
    display: flex;
    width: 500px;
    padding-top: 50px;
}
.title-first__icon {
    width: 65px;
    height: 65px;
    background: #FFFFFF url("../img/explore.png") no-repeat center;
    border: 1px solid #E2E4E8;
    box-sizing: border-box;
    border-radius: 10px;
    margin-right: 20px;
    margin-left: 60px;
}
.title-first__text {
    width: 220px;
}
.grow-business__text h3 {
    font-size: 21px;
    line-height: 34px;
    color: #1D293F;
}
.grow-business__text p {
    color: #7C8087;
    font-size: 16px;
    line-height: 28px;
}
.title-second {
    display: flex;
    width: 500px;
    padding-top: 50px;
}
.title-second__icon {
    width: 65px;
    height: 65px;
    background: #FFFFFF url("../img/interview.png") no-repeat center;
    border: 1px solid #E2E4E8;
    box-sizing: border-box;
    border-radius: 10px;
    margin-right: 20px;
    margin-left: 60px;
}
.title-second__text {
    width: 220px;
}
.title-third {
    display: flex;
    width: 500px;
    padding-top: 50px;
}
.title-third__icon {
    width: 65px;
    height: 65px;
    background: #FFFFFF url("../img/card-favorite.png") no-repeat center;
    border: 1px solid #E2E4E8;
    box-sizing: border-box;
    border-radius: 10px;
    margin-right: 20px;
    margin-left: 60px;
}
.title-third__text {
    width: 220px;
}
.grow-business__photo {
    width: 440px;
    height: 550px;
    background-image: url("../img/photo_woman.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 7px;
    position: relative;
    margin-left: 150px;
}
.grow-busines__circles {
    width: 200px;
    height: 220px;
    display: inline-block;
    position: absolute;
    background: url("../img/dots3.png") no-repeat center;
    left: -82px;
    top: -58px;
}
.circle-on-photo {
    width: 500px;
    height: 550px;
    border-radius: 50%;
    background-color: #FF6B0F;
    background-blend-mode: multiply;
    position: absolute;
    top: -150px;
    left: 150px;
    opacity: 0.6;
}
.circle-cutting-top {
    width: 500px;
    height: 150px;
    display: inline-block;
    background: #E5E5E5;
    position: absolute;
    z-index: 2;
    top: -150px;
    left: 130px;
}
.circle-cutting-right {
    width: 210px;
    height: 420px;
    display: inline-block;
    background: #E5E5E5;
    position: absolute;
    top:-1px;
    left: 441px;
    z-index: 2;
}
.meeting-with-clients {
    padding-top: 280px;
    background-color: #E5E5E5;
    font-family: 'Varela Round', sans-serif;
    padding-bottom: 100px;
}
.meeting-with-clients__container {
    padding-top: 70px;
    display: flex;
    padding-left: 220px;
}
.meeting-with-clients h3 {
    position: absolute;
    z-index: 3;
    color: #1D293F;
    font-size: 58px;
    top: -190px;
    width: 600px;
    line-height: 64px;
    letter-spacing: -1px;
}
.meeting-with-clients__photo {
    margin-top: 60px;
    width: 400px;
    height: 500px;
    background-image: url("../img/photo_man_3.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 15px;
    position: relative;
    z-index: 1;
}
.meeting-with-clients__circle-on-photo {
    width: 380px;
    height: 410px;
    border-radius: 50%;
    background-color: #FF6B0F;
    background-blend-mode: multiply;
    position: absolute;
    opacity: 0.6;
    left: -60px;
    top: -240px;
}
.meeting-with-clients__circle-cutting-top {
    width: 350px;
    height: 250px;
    display: inline-block;
    background: #E5E5E5;
    position: absolute;
    top: -250px;
    left:-1px;
}
.meeting-with-clients__circle-cutting-left {
    width: 62px;
    height: 310px;
    display: inline-block;
    background: #E5E5E5;
    position: absolute;
    left: -62px;
    top:-190px;
}
.meeting-with-clients__circles {
    width: 220px;
    height: 220px;
    position: relative;
    background: url("../img/dots4.png") no-repeat center;
    left: -465px;
    top: 394px;
    z-index: 0;
}
.meeting-with-clients__text {
    padding-top: 80px;
}
.meeting-with-clients__para-first,
.meeting-with-clients__para-second {
    color: #1D293F;
    font-size: 18px;
    font-weight: 400;
    width: 440px;
    line-height: 32px;
    padding-bottom: 10px;
}
.meeting-with-clients__button {
    background-color: #258AFF;
    border-radius: 5px;
    width: 170px;
    height: 50px;
    color: #FFFFFF;
    border-color: #258AFF;
    font-size: 16px;
    line-height: 20px;
    font-family: 'Varela Round', sans-serif;
    margin-bottom: 20px;
    margin-top: 20px;
}
.meeting-with-clients__para-third {
    color: #7C8087;
    font-size: 13px;
    line-height: 20px;
    padding-bottom: 15px;
    font-weight: 400;
    width: 370px;
}
.info-about-person {
    color: #1D293F;
    font-size: 13px;
    line-height: 16px;
    font-weight: 500;
}
.scroll-box {
    background: #E5E5E5;
    padding-top: 100px;
    font-family: 'Varela Round', sans-serif;
    padding-bottom: 100px;
}
.scroll-box__heart {
    width: 80px;
    height: 80px;
    display: inline-block;
    border-radius: 50%;
    background: #E9F7FE url("../img/heart2.png") no-repeat center;
    margin-left: 200px;
    margin-bottom: 50px;
}
.scroll-box__text h3 {
    color: #1D293F;
    font-size: 58px;
    width: 600px;
    margin-left: 200px;
    line-height: 64px;
    letter-spacing: -1px;
}
.scroll-box__text-and-arrows {
    display: flex;
}
.scroll-box__arrows {
    margin-left: 350px;
}
.scroll-box__arrow-left,
.scroll-box__arrow-right {
  width: 40px;
  height: 40px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  top: 45px;
}
.scroll-box__arrow-left::after {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    border-bottom: 3px solid #898a8b;
    border-right: 3px solid #898a8b;
    margin-left: 16px;
    margin-top: 13px;
    transform: rotate(130deg);
}
.scroll-box__arrow-right::after {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  border-bottom: 3px solid #258AFF;
  border-right: 3px solid #258AFF;
  margin-left: 10px;
  margin-top: 13px;
  transform: rotate(-45deg);
}
.scroll-box__columns-with-comments {
    padding-top: 50px;
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 2000px;
    height: 370px; 
    margin-left: 200px;
}
.scroll-box__for-scroll {
    width: 1500px;
    height: 300px;
}
.scroll-box__column-with-comments {
    width: 330px;
    height: 230px;
    border: 1px solid #bfc0c0;
    margin-top: 50px;
    border-radius: 7px;
    margin-right: 25px;
}
.photo {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: url("../img/comment1.jpg") no-repeat center;
    margin-top: 15px;
    margin-left: 10px;
}
.text-comments {
    padding-top: 10px;
    color: #1D293F;
    font-size: 16px;
    line-height: 28px;
    padding-left: 15px;
    width: 320px;
}
.text-data {
    padding-top: 10px;
    color: #1D293F;
    font-size: 18px;
    line-height: 32px;
    font-weight: 500;
    padding-left: 10px; 
}
.photo2 {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: url("../img/comment2.jpg") no-repeat center;
    margin-top: 15px;
    margin-left: 10px;
}
.photo3 {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: url("../img/comment3.jpg") no-repeat center;
    margin-top: 15px;
    margin-left: 10px;
}
.photo4 {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: url("../img/comment4.jpg") no-repeat center;
    margin-top: 15px;
    margin-left: 10px;
}
.scroll-bars {
    margin-top: 70px;
    display: flex;
    width: 150px;
    justify-content: space-between;
    margin-left: 200px;
}
.scroll-bars-item-first--active {
    height: 4px;
    background-color: #258AFF;
    width: 30px;
    border-radius: 15px;
}
.scroll-bars-item-second,
.scroll-bars-item-third,
.scroll-bars-item-fourth {
    height: 4px;
    background-color: #acadad;
    width: 30px;
    border-radius: 15px;
}
.manage-clienets {
    background: url(../img/Bitmap2.png) no-repeat 0 20%, url(../img/Bitmap3.png) no-repeat 100% 0;
    background-size: center, center;
    font-family: 'Varela Round', sans-serif;
    height: 600px;
}
.manage-clienets h3 {
    color: #FFFFFF;
    font-size: 58px;
    line-height: 64px;  
    letter-spacing: -1px;
    margin: 0 auto;
    text-align: center;
    padding-top: 140px;
    width: 700px;
}
.manage-clienets p {
    color: #FFFFFF;
    font-size: 16px;
    line-height: 28px;
    padding-top: 30px;
    margin: 0 auto;
    text-align: center;
    width: 530px;
}
.manage-clienets__button {
    margin-left: 670px;
    margin-top: 50px;
    background-color: #258AFF;
    border-radius: 5px;
    width: 170px;
    height: 50px;
    color: #FFFFFF;
    border-color: #258AFF;
    font-size: 16px;
    font-family: 'Varela Round', sans-serif;
}
.footer {
    background: #E5E5E5;
    padding-top: 70px;
    font-family: 'Varela Round', sans-serif;
    padding-bottom: 40px;
}
.footer__columns {
    display: flex;
    justify-content: center;
}
.footer__column-first,
.footer__column-second,
.footer__column-third {
    flex-basis: 210px;
}
.footer__column-fourth {
    flex-basis: 400px;
    margin-left: 30px; 
}
.footer__columns h3 {
    color: #1D293F;
    font-size: 18px;
    padding-top: 30px;
    padding-bottom: 10px;
    line-height: 32px;
}
.footer__item {
    color: #7C8087;
    text-decoration: none;
    font-size: 16px;
    line-height: 40px;
}
.footer__column-fourth p {
    color: #7C8087;
    font-size: 16px;
    line-height: 28px;
    padding-top: 10px;
}
.footer__items li {
    font-size: 16px;
    padding-top: 5px;
}
.mail-and-button {
    width: 300px;
    height: 70px;
    margin-top: 80px;
    background: url("../img/email.png") no-repeat;
}
.input {
    margin-left: 30px;
    border-color: transparent;
    background: #E5E5E5;
    font-family: 'Varela Round', sans-serif;
}
.mail-and-button__button {
    background-color: #258AFF;
    border-radius: 5px;
    width: 170px;
    height: 50px;
    color: #FFFFFF;
    border-color: #258AFF;
    font-size: 16px;
    font-family: 'Varela Round', sans-serif;
    position: relative;
    top: -85px;
    left: 195px;
}